body{
    background-color: rgb(0, 0, 0);
}

/* welcome animation */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#container {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
}
#container span {
    color:white;
    text-transform: uppercase;
    text-align: center;
    display:block;
}
.text1{
    color: black;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 15px;
    margin-bottom: 5%;
    animation: text 2s 1; 

} 
@keyframes text{
    0%{
        color: transparent;
        text-shadow: 0px 0px 100px #fff;
    }
    99%{
        color: transparent;
        text-shadow: 0px 0px 1px #fff;
    }
    100%{
        color: white;
        text-shadow: 0px 0px 0px #fff;
    }
}

.text2{
    color: black;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 5%;
    animation: text2 4s 1; 

}
@keyframes text2{
    0%{
        color: transparent;
    }
    50%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

.text3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 5%;
    animation: text2 6s 1; 

}
@keyframes text3{
    0%{
        color: transparent;
    }
    66%{
        color: transparent;
    }
    100%{
        color: white;
    }
}

.navbar, #navbarBasicExample{
    background-image:linear-gradient( rgb(0, 34, 255), transparent);
}